@import './utils/responsive';

@mixin white-gradient {
  background: linear-gradient(to right, black 0%, black 100%);
}

$animationSpeed: 20s;

@keyframes scroll {
  0% {
    transform: translateX(70%);
    @include screen-mobile {
      transform: translateX(30%);
    }
  }
  100% {
    transform: translateX(-100%);
  }
}

.slider {
  background: black;
  min-height: 80px;
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  color: white;
  margin-top: 3%;

  &::before {
    content: 'SKILLS+++';
    position: absolute;
    width: 20px;
    z-index: 2;
    background: black;
    height: 100%;
    font-weight: 800;
    width: 120px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: 180%;
    @include screen-mobile {
      width: 2000px
    }
  }

  .slide {
    width: 250px;
  }

  svg {
    color: white;
  }
}

.to-white {
  filter: brightness(0) invert(1);
}
